@import "../styles/colours";

.dashboard-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;


  .step-counter {
    margin: 20px auto;

    .c100 {
      margin: 0;

      .content {
        color: $grey;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%);

        > span {
          display: block;
          font-size: 18px;
          line-height: 1.2;
          text-transform: uppercase;

          &.step-count {
            font-size: 48px;
          }
        }
      }
    }
  }

  .weight-counter {
    margin: 20px auto 30px;
    text-align: center;

    .c100 {
      margin: 0 0 20px 0;

      .content {
        color: $grey;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%);

        > span {
          display: block;
          font-size: 18px;
          line-height: 1.2;
          text-transform: uppercase;

          &.step-count {
            font-size: 48px;
          }
        }
      }
    }

    .title {
      color: $grey;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

.CircularProgressbar-path { stroke: red; }
.CircularProgressbar-trail { stroke: gray; }
.CircularProgressbar-text { fill: black; }
.CircularProgressbar-background { fill: green; }

.button {
  background-color: $white;
  border: 1px solid $teal;
  border-radius: 60px;
  display: block;
  color: $teal;
  font-size: 16px;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  width: 240px;
}
