.dashboard-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; }
  .dashboard-page .step-counter {
    margin: 20px auto; }
    .dashboard-page .step-counter .c100 {
      margin: 0; }
      .dashboard-page .step-counter .c100 .content {
        color: #555555;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%); }
        .dashboard-page .step-counter .c100 .content > span {
          display: block;
          font-size: 18px;
          line-height: 1.2;
          text-transform: uppercase; }
          .dashboard-page .step-counter .c100 .content > span.step-count {
            font-size: 48px; }
  .dashboard-page .weight-counter {
    margin: 20px auto 30px;
    text-align: center; }
    .dashboard-page .weight-counter .c100 {
      margin: 0 0 20px 0; }
      .dashboard-page .weight-counter .c100 .content {
        color: #555555;
        line-height: 1;
        top: 50%;
        transform: translateY(-50%); }
        .dashboard-page .weight-counter .c100 .content > span {
          display: block;
          font-size: 18px;
          line-height: 1.2;
          text-transform: uppercase; }
          .dashboard-page .weight-counter .c100 .content > span.step-count {
            font-size: 48px; }
    .dashboard-page .weight-counter .title {
      color: #555555;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase; }

.CircularProgressbar-path {
  stroke: red; }

.CircularProgressbar-trail {
  stroke: gray; }

.CircularProgressbar-text {
  fill: black; }

.CircularProgressbar-background {
  fill: green; }

.button {
  background-color: #ffffff;
  border: 1px solid #57D1C2;
  border-radius: 60px;
  display: block;
  color: #57D1C2;
  font-size: 16px;
  line-height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  width: 240px; }
