.notepad-page {
  padding: 30px; }

.note {
  border-bottom: 1px solid #555555;
  font-size: 21px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  .note:last-child {
    border-bottom: none; }

.note__date {
  color: #cccccc; }

.note__title {
  font-weight: bold; }

.note__author {
  color: #cccccc; }
