@import "../styles/colours";

.notepad-page {
  padding: 30px;
}

.note {
  border-bottom: 1px solid $grey;
  font-size: 21px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &:last-child {
    border-bottom: none;
  }
}

.note__date {
  color: $lightgrey;
}

.note__title {
  font-weight: bold;
}

.note__author {
  color: $lightgrey;
}
