@import "../styles/colours";

.fish-count {
  color: $grey;
  font-size: 21px;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase;
}

.fish-count__indicator {
  color: $teal;
  margin: 10px auto;
  text-transform: lowercase;
}

.fish-count__current,
.fish-count__total {
  font-size: 48px;
  margin: 0 10px;
}
