.fish-count {
  color: #555555;
  font-size: 21px;
  margin: 40px auto;
  text-align: center;
  text-transform: uppercase; }

.fish-count__indicator {
  color: #57D1C2;
  margin: 10px auto;
  text-transform: lowercase; }

.fish-count__current,
.fish-count__total {
  font-size: 48px;
  margin: 0 10px; }
