.weight-page {
  padding: 30px; }

.form-group {
  margin-bottom: 20px; }
  .form-group label {
    color: #555555;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase; }
  .form-group input {
    border: none;
    border-bottom: 1px solid #cccccc;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, serif;
    font-size: 18px;
    padding: 10px 0;
    width: 100%; }
