@import "../styles/colours";

.weight-page {
  padding: 30px;
}

.form-group {
  margin-bottom: 20px;

  label {
    color: $grey;
    display: block;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  input {
    border: none;
    border-bottom: 1px solid $lightgrey;
    display: block;
    font-family: 'Open Sans', Helvetica, Arial, serif;
    font-size: 18px;
    padding: 10px 0;
    width: 100%;
  }
}
