.blood-sugar-levels {
  color: #555555;
  text-align: center; }
  .blood-sugar-levels .title {
    font-size: 16px;
    text-transform: uppercase; }

.levels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.levels__block {
  display: flex;
  flex-direction: column; }

.levels__value {
  font-size: 48px; }
  .levels__block--morning .levels__value {
    color: #57D1C2; }
  .levels__block--night .levels__value {
    color: #ff0000; }

.levels__period {
  font-size: 18px; }
