@import "../styles/colours";

.blood-sugar-levels {
  color: $grey;
  text-align: center;

  .title {
    font-size: 16px;
    text-transform: uppercase;
  }
}

.levels {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.levels__block {
  display: flex;
  flex-direction: column;
}

.levels__value {
  font-size: 48px;

  .levels__block--morning & {
    color: $teal;
  }

  .levels__block--night & {
    color: $red;
  }
}

.levels__period {
  font-size: 18px;
}
