@import "../styles/colours";

.footer {
  animation: .3s ease-in-out 0s 1 slideInFromBottom;
  background-color: $white;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.9);
  bottom: 0;
  font-size: 12px;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.footer__link {
  display: inline-block;
  height: 60px;
  width: 20%;

  a {
    color: $grey;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: none;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 24px;
    }

    &:hover {
      color: black;
    }
  }

  &--dashboard {
    a:before {
      background-image: url('../icons/icon-dashboard.svg')
    }
  }

  &--schedule {
    a:before {
      background-image: url('../icons/icon-calendar.svg')
    }
  }

  &--trophy-case {
    position: relative;

    &:before {
      background-color: $teal;
      border-radius: 112px;
      content: '';
      height: 138%;
      left: -3px;
      position: absolute;
      top: -10px;
      width: 106%;
    }

    a {
      color: $white;

      &:before {
        background-image: url('../icons/icon-fish.svg');
        transform: scale(1.2) translate(-1%, -23%);
      }

      &:hover {
        color: $white;
      }
    }
  }

  &--gym-routine {
    a:before {
      background-image: url('../icons/icon-gym.svg')
    }
  }

  &--notepad {
    a:before {
      background-image: url('../icons/icon-notepad.svg')
    }
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
