@import "../styles/colours";

.header {
  //animation: .3s ease-in-out 0s 1 slideInFromTop;
  background-color: $teal;
  color: $white;
  display: flex;
  font-size: 16px;
  height: 60px;
  justify-content: space-between;
  line-height: 60px;
  text-align: center;

  > div {
    min-width: 32px;

    a,
    button {
      background-color: transparent;
      border: none;
      color: $white;
      text-decoration: none;
    }
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
