.header {
  background-color: #57D1C2;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  height: 60px;
  justify-content: space-between;
  line-height: 60px;
  text-align: center; }
  .header > div {
    min-width: 32px; }
    .header > div a,
    .header > div button {
      background-color: transparent;
      border: none;
      color: #ffffff;
      text-decoration: none; }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }
