.slider {
  color: #555555;
  margin: 20px auto;
  position: relative;
  text-align: center;
  width: 100%; }

.slider__nav {
  font-size: 36px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.slider__nav--prev {
  left: 0; }

.slider__nav--next {
  right: 0; }

.slider__day {
  font-size: 48px; }
