@import "../../styles/colours";

.reward-success-page {
  margin-top: 160px;
  text-align: center;
}

.success__title {
  color: $teal;
  font-size: 48px;
}

.success__description {
  font-size: 21px;
}
